/* Progressive Plugin Styles */

.progressive-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 24px;
	width: 100%;
	margin-top: 8px;
	padding: 0 6px;
	background-color: var(--background-secondary);
}

.progressive-wrapper {
	height: 10px;
	width: 100%;
	background-color: var(--background-secondary);
	border: 1px solid var(--divider-color);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.progressive-bar {
	height: 100%;
	width: 0%;
	border-radius: 4px 0 0 4px;
	transition: width 0.2s ease;
}

.progressive-percent {
	color: var(--text-normal);
	font-size: 12px;
	margin-right: 6px;
}
